<div>
    <div class="card_img">
        <img class="card_img-img" src={{product.thumbnails}} alt={{this.description}} />
    </div>
    <div class="card_content">
        <h2 class="card_content-title">{{product.title}}</h2>
        <h3 class="card_content-description">{{product.description}}</h3>
        <p class="card_content-price">${{product.price}}</p>
        <button class="card_content-btn--add" onclick="agregarProductoAlCarrito('{{product._id}}')">Comprar</button>
    </div>
</div>

<script src="/js/products.js"></script>