<article>
    <div class="cartHeader">
        <h2 class="cartHeader_title">Cart</h2>
        {{#if products}}
        <button class="cartHeader_btn" onclick="clearCart()">Vaciar carrito</button>
        {{else}}
        <p class="cartHeader_text">Su carrito se encuentra vacio, vea nuestros <a href="/products">productos</a>.</p>
        {{/if}}
    </div>
    {{#if products}}
    <div class="cart_container">
        <div class="cart_container-overflow">
            {{#each products}}
            <div class="cart">
                <div class="cart_img">
                    <img class="cart_img-img" src="{{this.product.thumbnails}}" alt="{{this.product.title}}">
                </div>
                <div class="cart_content">
                    <h2 class="cart_content-title">{{this.product.title}}</h2>
                    <hr>
                    <p class="cart_content-description">{{this.product.description}}</p>
                    <p class="cart_content-price">${{this.product.price}}</p>
                    <div class="quantity-control-cart">
                        <button class="quantity-btn" id="quantityRemove_{{this.product._id}}"
                            onclick="decrementarCantidad(this, '{{this.product._id}}')"
                            data-product-id="{{this.product._id}}">
                            <span class="material-symbols-outlined">remove</span>
                        </button>
                        <span id="qty_{{this.product._id}}" class="quantity" data-max="{{this.product.stock}}"
                            data-product-id="{{this.product._id}}">
                            {{this.quantity}}
                        </span>
                        <button class="quantity-btn" id="quantityAdd_{{this.product._id}}"
                            onclick="incrementarCantidad(this, '{{this.product._id}}')"
                            data-product-id="{{this.product._id}}">
                            <span class="material-symbols-outlined">add</span>
                        </button>
                    </div>
                    <p class="cart_content-idProduct">{{this.product._id}}</p>
                    <button class="cart_content-btn" onclick="deleteProduct('{{this.product._id}}')">
                        <span class="material-symbols-outlined delete_icon">delete</span>
                    </button>
                </div>
            </div>
            <hr>
            {{/each}}
        </div>
        <div class="cartFooter">
            <p class="cartFooter_price"></p>
            <button onclick="buyCart()" class="cartFooter_btn">Comprar</button>
        </div>
    </div>
    {{/if}}
</article>
<div id="myModal" class="modal"></div>

<script src="/js/cart.js"></script>