{{#if (eq user.role "admin")}}
<div class="message_header">
    <h2 class="messages_title">Mensajes</h2>
    <button data-tooltip="Filtrar pendientes" class="message_filter" id="toggleButton" onclick="toggleMessages()"><span
            class="material-symbols-outlined-message">
            filter_alt
        </span></button>
    <button data-tooltip="Eliminar mensajes resueltos con mas de 48 horas" class="message_delete" id="toggleButton" onclick="OldSolvedMessages()"><span
            class="material-symbols-outlined-message">
            auto_delete
        </span></button>
</div>

<div class="messages_container">
    <div id="messages" class="message"></div>
</div>
{{else}}
<div class="form_container">
    <div class="form">
        <h2 class="form_title">¡Contactanos!</h2>
        <div class="form_form">
            <div class="form_form-item">
                <label for="user" class="form_form-item--label">Nombre y apellido</label>
                <p id="user" class="form_form-item--field">{{user.first_name}} {{user.last_name}}</p>
            </div>
            <div class="form_form-item">
                <label for="email" class="form_form-item--label">Email</label>
                <p id="email" class="form_form-item--field">{{user.email}}</p>
            </div>
            <div class="form_form-item">
                <label for="message" class="form_form-item--label">Mensaje</label>
                <textarea type="text" class="form_form-item--textarea" id="message"
                    placeholder="Ingrese su mensaje"></textarea>
            </div>
            <button type="submit" class="form_form-btn" onclick="sendMessage()">Enviar</button>
        </div>
    </div>
</div>
{{/if}}


<script src="socket.io/socket.io.js"></script>

{{#if (eq user.role "admin")}}
<script src="js/messages.js"></script>
{{else}}
<script src="js/sendMessages.js"></script>
{{/if}}