<article class="profile_container">
    <h2 class="profile_title">Informacion de {{user.role}} </h2>
    <p class="profile_data">Nombre: {{user.first_name}}</p>
    <p class="profile_data">Apellido: {{user.last_name}}</p>
    <p class="profile_data last_data">Email: {{user.email}}</p>
    <a class="profile_data-pass" href="/restore">Cambiar contraseña</a>
    <p class="profile_data-role">{{user.role}}: {{user.id}}{{user._id}} </p>
    <a class="profile_data-uploads" href="/upload/{{user.id}}{{user._id}}"><span class="material-symbols-outlined-uploads">upload_file</span></a>
    <form class="profile_btn" action="/api/sessions/logout" method="POST" >
        <button class="profile_btn-btn" type="submit" onclick="logout()">Cerrar Sesión <span
                class="material-symbols-outlined">
                logout
            </span></button>
    </form>
</article>


<script src="js/logout.js"></script>